* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

:root {
  --black: #000;
  --white: #fff;
  --skyblue: #14cbe4;
}

body {
  background-color: var(--skyblue);
  padding: 0 2.3em;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.navbar h1 {
  font-size: 3em;
}

.navbar ul {
  display: flex;
  gap: 1.3em;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

.navbar ul li a::after {
  content: "";
  display: block;
  padding-bottom: 0.4rem;
  border-bottom: 0.1rem solid var(--black);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar ul li a:hover::after {
  transform: scaleX(0.5);
}

.header-text {
  font-family: "Roboto", sans-serif;
  margin-top: 4rem;
}

.header-text h3 {
  font-size: 3rem;
}

.header-text h3 span {
  font-size: 7.5rem;
  text-shadow: 1px 1px 2px var(--white);
}
